/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        change_language: change_language {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(SPACE)>;
            label = "CHANGE_LANGUAGE";
        };

        copy_clipboard: copy_clipboard {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>;
            label = "COPY_CLIPBOARD";
        };

        paste_clipboard: paste_clipboard {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(V)>;
            label = "PASTE_CLIPBOARD";
        };

        hashtag: hashtag {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp N3 &kp N5>,
                <&macro_release>,
                <&kp LALT>;

            label = "HASHTAG";
        };

        cut_clipboard: cut_clipboard {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(X)>;
            label = "CUT_CLIPBOARD";
        };

        undo: undo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(Z)>;
            label = "UNDO";
        };

        redo: redo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(Y)>;
            label = "REDO";
        };

        tire: tire2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_5 &kp KP_NUMBER_1>,
                <&macro_release>,
                <&kp LALT>;

            label = "TIRE2";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp GRAVE       &kp NUMBER_1  &kp N2  &kp N3    &kp N4            &kp N5                              &kp N6  &kp N7      &kp N8         &kp N9   &kp N0    &kp RIGHT_BRACKET
&kp TAB         &kp Q         &kp W   &kp E     &kp R             &kp T                               &kp Y   &kp U       &kp I          &kp O    &kp P     &kp LEFT_BRACKET
&kp LEFT_SHIFT  &kp A         &kp S   &kp D     &kp F             &kp G                               &kp H   &kp J       &kp K          &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z         &kp X   &kp C     &kp V             &kp B   &kp DEL      &kp ENTER      &kp N   &kp M       &kp COMMA      &kp DOT  &kp FSLH  &kp RSHFT
                                      &kp LALT  &change_language  &mo 1   &kp SPACE    &kp BACKSPACE  &mo 2   &kp DELETE  &kp RIGHT_WIN
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp ESCAPE  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_4  &kp KP_NUMBER_5                    &kp KP_NUMBER_6  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9       &kp KP_NUMBER_0        &kp KP_NUMLOCK
&trans      &kp EXCLAMATION  &kp AT_SIGN      &kp POUND        &kp DOLLAR       &kp PERCENT                        &kp CARET        &kp AMPERSAND    &kp ASTERISK     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans      &kp NUMBER_1     &kp NUMBER_2     &kp NUMBER_3     &kp NUMBER_4     &kp NUMBER_5                       &kp NUMBER_6     &kp N7           &kp N8           &kp N9                &kp N0                 &trans
&trans      &trans           &trans           &hashtag         &trans           &trans           &trans    &trans  &kp KP_MULTIPLY  &kp KP_PLUS      &kp KP_SUBTRACT  &kp KP_DIVIDE         &kp KP_DOT             &kp RIGHT_ALT
                                              &trans           &trans           &trans           &trans    &trans  &trans           &trans           &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp ESCAPE  &tire          &trans            &trans                &trans                 &trans                                  &trans            &trans           &trans         &trans     &trans          &trans
&trans      &kp MINUS      &kp PLUS          &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE                                &trans            &undo            &kp PAGE_DOWN  &kp PG_UP  &redo           &trans
&trans      &kp UNDER      &kp EQUAL         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp BACKSLASH                           &kp HOME          &kp LEFT         &kp DOWN       &kp UP     &kp RIGHT       &kp END
&trans      &kp LESS_THAN  &kp GREATER_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SLASH      &kp AMPERSAND    &trans  &paste_clipboard  &copy_clipboard  &none          &none      &cut_clipboard  &trans
                                             &trans                &sk LEFT_WIN           &trans         &trans           &trans  &trans            &trans           &trans
            >;
        };

        mouse_layer {
            bindings = <
&kp ESCAPE  &bt BT_PRV  &bt BT_NXT  &bt BT_CLR_ALL  &kp PRINTSCREEN  &kp SCROLLLOCK                    &kp C_PREVIOUS  &kp C_PLAY      &kp C_NEXT      &kp C_MUTE    &kp C_VOL_DN     &kp C_VOLUME_UP
&kp F1      &kp F2      &kp F3      &kp F4          &kp F5           &kp F6                            &kp F7          &kp F8          &kp F9          &kp F10       &kp F11          &kp F12
&kp CAPS    &mkp MB4    &mkp MB5    &mkp MB2        &mkp LCLK        &none                             &none           &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none
&trans      &none       &none       &none           &none            &none           &trans    &trans  &none           &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &kp RIGHT_ALT
                                    &trans          &trans           &trans          &trans    &trans  &trans          &trans          &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        condition_layer3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
